<div class="start-page" data-ng-controller="ShopController">
    <div class="container" id="main">
        <div class="start-page-container-search">
          <div class="row">
            <div class="col-md-12">
                <h1>OpenPizza</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="input-group start-page-search">
                  <input id="search_box" type="text" class="form-control input-lg" placeholder="Postleitzahl" ng-model="search_text">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button" id="button_search" data-ng-click="find()"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div><!-- /input-group -->
            </div>
          </div>
        </div>
        <div class="start-page-container-search-results">
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr data-ng-repeat="shop in shops">
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>{{shop.name}}</h2>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                                <i class="glyphicon glyphicon-star"></i>
                            </td>
                            <td class="arrow">
                              <%= form_for Order.new, method: :post do |f| %>
                                <%= f.hidden_field :shop, value: "{{shop.id}}" %>
                                <%= link_to "#", onclick: "$(this).closest('form').submit()" do %>
                                  <i class='glyphicon glyphicon-chevron-right'></i>
                                <%- end %>
                              <%- end %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<script>
    function addEnterBinding()
    {
        $("#search_box").keyup(function(event){
          if(event.keyCode == 13){
            $("#button_search").click();
          }
        });
    }
    function addAnimation()
    {
        //padding
        height = $(".start-page").height();
        $("#button_search").click(function()
            {
                $(".start-page-container-search").animate({"padding-top":"0px"}, 500, function(){$(".start-page-container-search-results").css("display","block")});
            });
        $(".start-page-container-search-results").css("height",Math.floor(height/2)+"px");
    }
    addEnterBinding();
    addAnimation();
</script>
