<div class="start-page" ng-controller="ShopController">
    <div class="container" id="main">
        <div class="start-page-container-search">
          <div class="row">
            <div class="col-md-12">
                <h1>OpenPizza.de</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="input-group start-page-search">
                  <input type="text" class="form-control input-lg" placeholder="Postleitzahl">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="button" id="buttonSearch" data-ng-click="find()"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                </div><!-- /input-group -->
            </div>
          </div>
        </div>
        <div class="start-page-container-search-results">
            <div class="row">
                <div class="col-md-12">
                    <table>
                        <tr data-ng-repeat="shop in shops">
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>{{shop.name}}</h2><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                            <td class="arrow"><a href="#dddd"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>
                       <!-- <tr>
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>Pizza Hans</h2><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                            <td class="arrow"><a href="#dddd"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>Pizza Hans</h2><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                            <td class="arrow"><a href="#dddd"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>Pizza Hans</h2><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                            <td class="arrow"><a href="#dddd"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>
                        <tr>
                            <td class="img"><img src="../assets/default.jpg"></td>
                            <td class="text"><h2>Pizza Hans</h2><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i></td>
                            <td class="arrow"><a href="#dddd"><i class="glyphicon glyphicon-chevron-right"></i></a></td>
                        </tr>-->
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<script>
    function addAnimation()
    {
        //padding
        height = $(".start-page").height();
        $(".start-page-container-search").css("padding-top",Math.floor(height/4)+"px");
        $("#buttonSearch").click(function()
            {
                $(".start-page-container-search").animate({"padding-top":"0px"}, 500, function(){$(".start-page-container-search-results").css("display","block")});
            });
        $(".start-page-container-search-results").css("height",Math.floor(height/2)+"px");
    }
    addAnimation();
</script>
<div id="footer">
  <div class="container">
    <p>Place sticky footer content here.</p>
  </div>
</div>

