/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

tr > td {
  border-top: 0 !important;
}

.logo-small {
    height: 60px;
    margin-top: -20px;
}

.start-page-container-search {
  padding-top: 100px;
}

table#shops-table {
  width: 100%;
  margin-top: 20px;
}

table#shops-table tr {
  border-bottom: 4px solid #973914;
}

table#shops-table td {
  background-color: #F1B42F;
}

table#shops-table img,
table#shops-table td.text,
table#shops-table td.arrow {
  height: 100px;
}

table#shops-table img {
  width: 100px;
}

table#shops-table td.arrow {
  font-size: 50px;
  vertical-align: middle;
  text-align: right;
  padding-right: 15px;
}

table#shops-table td.img {
  text-align: left;
  width: 100px;
  height: 100px;
}

table#shops-table td.text {
  padding-left: 15px;
}

p.shop-name {
  font-size: 32px;
}

.col-md-4 > .panel {
  margin-top: 20px;
}
