$body-bg: #D1A674;

$navbar-height: 70px;
$navbar-default-color: #F2F2F2;
$navbar-default-bg: #B44418;
$navbar-default-link-color: $navbar-default-color;

$brand-primary: #CC3300;
$brand-info: #FFCC00;
$input-border-focus: #FFCC00;
$link-color: $brand-info;

// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  //@extend .container;
  //background-color: #eee;
  //padding-bottom: 80px;
  //width: 100%;
  margin-top: 71px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}

$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  border-top: 1px solid $navbar-default-border;
}
footer p {
  margin-top: 15px;
}
