<!-- Angular JS -->
//script type="text/javascript" src="../assets/angular/angular.min.js"
script type="text/javascript" src="../assets/angular-cookies/angular-cookies.min.js"
script type="text/javascript" src="../assets/angular-resource/angular-resource.min.js"
script type="text/javascript" src="../assets/angular-ui-router/release/angular-ui-router.js"
script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"

<!-- Angular UI -->
//script type="text/javascript" src="../assets/angular-bootstrap/ui-bootstrap.js"
//script type="text/javascript" src="../assets/angular-bootstrap/ui-bootstrap-tpls.js"

<!-- Application Init -->
script type="text/javascript" src="../assets/app.js"
script type="text/javascript" src="../assets/config.js"
script type="text/javascript" src="../assets/directives.js"
script type="text/javascript" src="../assets/filters.js"

<!-- Application Services -->
//script type="text/javascript" src="../assets/services/global.js"
script type="text/javascript" src="../assets/services/shops.js"

<!-- Application Controllers -->
script type="text/javascript" src="../assets/controllers/shops.js"
//script type="text/javascript" src="../assets/javascripts/controllers/index.js"
//script type="text/javascript" src="../assets/javascripts/controllers/projects.js"
//script type="text/javascript" src="../assets/javascripts/controllers/milestones.js"
//script type="text/javascript" src="../assets/javascripts/controllers/tasks.js"
//script type="text/javascript" src="../assets/javascripts/controllers/details.js"
//script type="text/javascript" src="../assets/javascripts/controllers/header.js"
//script type="text/javascript" src="../assets/init.js"

<!-- Bootstrap Js +JQuery -->
script src="../assets/bootstrap/dist/js/bootstrap.min.js"
script src="../assets/jquery/dist/jquery.js"